@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
  margin: 0;

  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);

  font-family: "Lexend Deca", sans-serif;
  font-size: 0.94rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--very-light-gray);
}

main {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 5rem 0;
}

h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--very-light-gray);
  margin: 1.5rem 0;
}

p {
  color: var(--transparent-white);
  line-height: 1.5rem;
}

section {
  padding: 3.5em;
}

.section-sedan {
  background: var(--bright-orange);
  border-radius: 10px 10px 0 0;
}

.section-suvs {
  background: var(--dark-cyan);
}

.section-luxury {
  background: var(--very-dark-cyan);
  border-radius: 0 0 10px 10px;
}

.btn-learn-more {
  text-align: left;
  margin-top: 2rem;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.7rem 1.5rem;
  background-color: white;
  border: 2px solid white;
  border-radius: 30px;
}

.lnk-sedans {
  color: var(--bright-orange);
}

.lnk-suvs {
  color: var(--dark-cyan);
}

.lnk-luxury {
  color: var(--very-dark-cyan);
}

.lnk-sedans:hover,
.lnk-suvs:hover,
.lnk-luxury:hover {
  color: white;
  background-color: transparent;
}

@media (min-width: 1024px) {
  body {
    height: 100vh;
  }

  main {
    display: flex;
    flex-direction: row;
    max-width: 900px;
  }

  .section-sedan {
    background: var(--bright-orange);
    border-radius: 10px 0 0 10px;
  }

  .section-luxury {
    background: var(--very-dark-cyan);
    border-radius: 0 10px 10px 0;
  }

  .btn-learn-more {
    margin-top: 7rem;
  }
}
